<div class="wrapper">
    <div class="element-container">
        <mat-card class="element" *ngIf="!hasForgot">
            <div class="company-wrapper">
                <span class="company">{{ 'SignIn' | translate }}</span>

                <div class="welcome-message-wrapper">
                    <p class="welcome-message">{{ 'WelcomeMessage' | translate }}</p>
                </div>

                <div style="width:100%;height:250px;padding-bottom:0px;">
                    <mat-card style="max-width:400px;display:inline-block">
                        <form *ngIf="login" novalidate #f="ngForm">
                            <div flexContainer class="flex-container">
                                <field icon="email" [(ngModel)]="login.email" name="email" type="email" flex=10></field>
                                <field icon="lock" [(ngModel)]="login.password" name="password" type="password" flex=10></field>
                            </div>
                            <button mat-raised-button type="button" class="signIn" (click)="signIn()">
                                <img class="logo" src="assets/img/auth/default.svg" /> {{ 'SignIn' | translate }}
                            </button>
                            <button color="accent" type="button" mat-button class="signIn" (click)="register()">
                                {{ 'Register' | translate }}
                            </button>
                            <button color="accent" type="button" mat-button class="signIn" (click)="forgot(f)">
                                {{ 'Forgot' | translate }}
                            </button>
                        </form>
                    </mat-card>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="content">
                    <div class="signIn-buttons" *ngIf="providers">
                        <button *ngFor="let provider of providers" mat-raised-button (click)="signInWith(provider.name)" class="signIn">
                            <img class="logo" src="{{ 'assets/img/auth/'+provider.key+'.svg'}}" /> {{ 'Auth.SignInWith' + provider.displayName | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </mat-card>
        <mat-card class="element" *ngIf="hasForgot">
            <div class="company-wrapper">
                <span class="company">{{ 'ResetPassword' | translate }}</span>

                <div style="width:100%;height:220px;padding-bottom:0px;">
                    <mat-card style="max-width:400px;display:inline-block">
                        <form *ngIf="login" flexContainer class="flex-container" novalidate #f="ngForm">
                            <field icon="email" [(ngModel)]="login.email" name="email" type="email" flex=10></field>
                            <field icon="lock" [(ngModel)]="login.password" name="password" type="password" flex=10></field>
                            <button mat-raised-button type="button" class="signIn" (click)="reset()" flex=1>
                                <img class="logo" src="assets/img/auth/default.svg" /> {{ 'ResetPassword' | translate }}
                            </button>
                        </form>
                    </mat-card>
                </div>
            </div>
        </mat-card>
    </div>
</div>