.menu {
    background: transparent;
    color: rgba(0, 0, 0, 0.54);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-padding {
    padding: 48px 0px 12px 24px;
}
.menu-noTop {
    padding: 0px 0px 12px 24px;
}

:host {
    display: inline-block;
    width: calc(100% - 350px);
}
@media (max-width: 900px) {
    :host {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
    }
}
