.wrapper {
    padding: 12px;
    width: calc(100% - 24px);
}

.cal-cell-title {
    text-overflow: ellipsis;
}

mwl-calendar-month-view::ng-deep mwl-calendar-month-cell {
    max-width: 14%.28;
}

.blocked {
    background-color: #e53935;
    color: white;
    width: 100%;
    height: 100%;
}

.blocked::ng-deep > .cal-day-number {
    color: white !important;
}

.description {
    width: 100%;
    border: none;
    color: rgba(0, 0, 0, 0.54);
    padding-bottom: 12px;
}
