<view-wrapper [head]="head">

    <div flexContainer *ngIf="property">
        <menu-left>
            <menu-header>
                <menu-title>{{ property.name }}</menu-title>
            </menu-header>
            <menu-container>
                <textarea autosize [(ngModel)]="property.description" readonly class="description"></textarea>
                <mat-card-content class="flex-container">
                    <ngx-image-gallery [images]="images" [conf]="conf"></ngx-image-gallery>
                </mat-card-content>
            </menu-container>
        </menu-left>
        <menu-right>
            <menu-header>
                <menu-title>{{ getMonth() }} {{ getYear() }}</menu-title>
            </menu-header>

            <menu-container>
                <mat-card-content class="flex-container">
                    <button mat-icon-button mwlCalendarPreviousView view="month" [(viewDate)]="viewDate">
                        <mat-icon>chevron_left</mat-icon>
                    </button>
                    <button mat-button mwlCalendarToday [(viewDate)]="viewDate">
                        {{ 'Today' | translate }}
                    </button>
                    <button mat-icon-button mwlCalendarNextView view="month" [(viewDate)]="viewDate">
                        <mat-icon>chevron_right</mat-icon>
                    </button>

                    <mwl-calendar-month-view [refresh]="refresh" [viewDate]="viewDate" [events]="events" weekStartsOn="1" [cellTemplate]="customMonthDayTemplate">
                    </mwl-calendar-month-view>
                </mat-card-content>
            </menu-container>
        </menu-right>
    </div>
</view-wrapper>

<ng-template #customMonthDayTemplate let-day="day" let-locale="locale">
    <div [ngClass]="{blocked:day.events.length > 0}">
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
</ng-template>