<view-wrapper [head]="head">
    <div flexContainer>
        <menu-left>
            <menu-header>
                <menu-title>{{ getMonth() }} {{ getYear() }}
                    <button mat-button (click)="view = view == 'month' ? 'week' : 'month'">
                        Month/Week
                    </button>
                </menu-title>
            </menu-header>
            <menu-container>
                <mat-card-content class="flex-container">
                    <button mat-icon-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                        <mat-icon>chevron_left</mat-icon>
                    </button>
                    <button mat-button mwlCalendarToday [(viewDate)]="viewDate">
                        {{ 'Today' | translate }}
                    </button>
                    <button mat-icon-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                        <mat-icon>chevron_right</mat-icon>
                    </button>
                    <div [ngSwitch]="view" flex=1>
                        <mwl-calendar-month-view *ngSwitchCase="'month'" [refresh]="refresh" [viewDate]="viewDate" [events]="events" (eventClicked)="handleEvent($event.event, $event)"
                            (eventTimesChanged)="eventTimesChanged($event)" weekStartsOn="1" [cellTemplate]="customMonthDayTemplate"
                            (dayClicked)="dayClicked($event.day.date)">
                        </mwl-calendar-month-view>
                        <mwl-calendar-week-view *ngSwitchCase="'week'" [refresh]="refresh" [viewDate]="viewDate" [events]="events" (eventClicked)="handleEvent($event.event, $event)"
                            (eventTimesChanged)="eventTimesChanged($event)" weekStartsOn="1" (dayHeaderClicked)="dayClicked($event.day.date)"></mwl-calendar-week-view>
                    </div>

                    <div *ngIf="images && images.length > 0">
                        <ngx-image-gallery [images]="images" [conf]="galleryConfiguration" (onDelete)="deleteImage($event)"></ngx-image-gallery>
                    </div>
                    <div style="position:relative;height:240px;width:100%;">
                        <mat-file color="primary" (onCompleteAll)="reloadFiles()" text="upload" [url]="uploadUrl"></mat-file>
                    </div>
                </mat-card-content>
            </menu-container>
        </menu-left>
        <menu-right>
            <menu-header>
                <menu-title>{{ 'calendarEvent' | translate }}</menu-title>
            </menu-header>

            <menu-container style="position:relative;">
                <form #eventForm="ngForm" (ngSubmit)="onSubmit(eventForm)" novalidate>
                    <div *ngIf="event">
                        <field [(ngModel)]="event.color" name="color" type="select" flex=3 [options]="colors"></field>
                        <field [(ngModel)]="event.title" name="title" type="text" flex=3></field>
                        <field [(ngModel)]="event.start" name="start" type="date" flex=3></field>
                        <field [(ngModel)]="event.end" name="end" type="date" flex=3></field>
                        <field [(ngModel)]="event.meta.comment" name="comment" type="textarea" flex=3></field>
                        <menu-entry (click)="onSubmit(eventForm)" color="{{eventForm.dirty ? '#5926b0' : 'rgba(0,0,0,0.54)' }}">
                            {{'Save' | translate}}
                            <mat-icon>save</mat-icon>
                        </menu-entry>
                    </div>
                </form>
            </menu-container>
            <menu-right-spacer></menu-right-spacer>
            <menu-header>
                <menu-title>{{ 'settings' | translate }}</menu-title>
            </menu-header>
            <menu-container style="position:relative;">
                <form *ngIf="property" #propertyForm="ngForm" (ngSubmit)="onPropertySubmit(propertyForm)" novalidate>
                    <div>
                        <field [(ngModel)]="property.name" name="name" type="text" flex=3></field>
                        <field [(ngModel)]="property.description" name="description" type="textarea" flex=3></field>
                        <menu-entry (click)="onPropertySubmit(propertyForm)" color="{{propertyForm.dirty ? '#5926b0' : 'rgba(0,0,0,0.54)' }}">
                            {{'Save' | translate}}
                            <mat-icon>save</mat-icon>
                        </menu-entry>
                    </div>
                </form>
            </menu-container>
        </menu-right>
    </div>
</view-wrapper>

<ng-template #customMonthDayTemplate let-day="day" let-locale="locale">
    <div>
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <div *ngIf="day.events.length > 0">
        <div (click)="handleEvent(event, $event)" class="cal-cell-title" *ngFor="let event of day.events" [style.backgroundColor]="event.color.primary"
            [ngClass]="event?.cssClass" mwlDraggable [dropData]="{event: event}" [dragAxis]="{x: event.draggable, y: event.draggable}">
            {{ event.title }}
        </div>
    </div>
</ng-template>