<view-wrapper [head]="head">
    <div>
        <mat-card>
            <mat-card-content class="flex-container">
                <button mat-icon-button mwlCalendarPreviousView view="month" [(viewDate)]="viewDate">
                    <mat-icon>chevron_left</mat-icon>
                </button>
                <button mat-button mwlCalendarToday [(viewDate)]="viewDate">
                    {{ 'Today' | translate }}
                </button>
                <button mat-icon-button mwlCalendarNextView view="month" [(viewDate)]="viewDate">
                    <mat-icon>chevron_right</mat-icon>
                </button>

                <mwl-calendar-month-view [refresh]="refresh" [viewDate]="viewDate" [events]="events" weekStartsOn="1" [cellTemplate]="customMonthDayTemplate">
                </mwl-calendar-month-view>

            </mat-card-content>
        </mat-card>
        also zwei anisichten?
        <mat-card>
            <ngx-image-gallery [images]="images" [conf]="conf"></ngx-image-gallery>
        </mat-card>

    </div>
</view-wrapper>

<ng-template #customMonthDayTemplate let-day="day" let-locale="locale">
    <div [ngClass]="{blocked:day.events.length > 0}">
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
</ng-template>