.wrapper {
    padding: 12px;
    width: calc(100% - 24px);
}

mwl-calendar-month-view::ng-deep .cal-days .cal-cell-row :nth-child(6n),
mwl-calendar-month-view::ng-deep .cal-days .cal-cell-row :nth-child(7n) {
    background: #fafafa;
}

.cal-cell-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

mwl-calendar-month-view::ng-deep mwl-calendar-month-cell {
    overflow: hidden;
}

.calendar {
    min-height: 500px;
}
