<mat-toolbar class="user-bar">
  <a class="company" (click)="goHome()">
    <img src="/assets/img/logo/logo.svg" />
  </a>
  <a class="company" (click)="goHome()">Vabulu</a>
  <span class="fill-remaining-space"></span>

  <div *ngIf="configuraton.loggedIn && !loading">
    <button mat-button (click)="signOut()">
      <mat-icon>exit_to_app</mat-icon> Logout
    </button>
  </div>

</mat-toolbar>

<div *ngIf="configuraton.loggedIn && configuration.hasRoles && !loading">
  <router-outlet></router-outlet>
</div>
<div *ngIf="configuraton.loggedIn && !configuration.hasRoles && !loading">
  <div class="wrapper">
    <div class="element-container">
      <mat-card class="element">
        <div class="company-wrapper">
          <span class="company-message company">{{ 'WelcomeMessage' | translate }}</span>
          <div class="welcome-message-wrapper">
            <p class="welcome-message">{{ 'PleaseLogoutAndComeBackOnceYourUserWasApproved' | translate }}</p>
          </div>
          <div style="width:100%;height:250px;padding-bottom:0px;">
            <button mat-raised-button (click)="signOut()">
              <mat-icon>exit_to_app</mat-icon> Logout
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<div *ngIf="!configuraton.loggedIn && !loading">
  <login></login>
</div>
<iframe #iframe width="0" height="0" style="display:none;"></iframe>