<mat-toolbar class="user-bar">
  <a class="company" (click)="goHome()">
    <img src="/assets/img/logo/logo.svg" />
  </a>
  <a class="company" (click)="goHome()">Vabulu</a>
  <span class="fill-remaining-space"></span>

  <div *ngIf="configuraton.loggedIn && !loading">
    <button mat-button (click)="signOut()">
      <mat-icon>exit_to_app</mat-icon> Logout
    </button>
  </div>

</mat-toolbar>

<div *ngIf="configuraton.loggedIn && !loading">
  <router-outlet></router-outlet>
</div>
<div *ngIf="!configuraton.loggedIn && !loading">
  <login></login>
</div>
<iframe #iframe width="0" height="0" style="display:none;"></iframe>