<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <style>
    body, html, .body {
        width:100% !important; 
        -webkit-text-size-adjust:100%;
        -ms-text-size-adjust:100%;
        background: rgb(238, 238, 238);
        margin: 0;
        padding: 0;
        font-family: 'Roboto', 'URW Gothic', 'Segoe UI', 'Verdana', sans-serif;
    }
    
    .background {
        padding: 48px;
    }

    .container {
        padding: 24px;
        background: white;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    }
    
    .title {
        color: #8427c5;
        font-size: 2em;
        width: 100%;
        padding-bottom:24px;
    }
    
    .bold {
        font-weight: bold;
        line-height: 2em;
        color: rgba(0, 0, 0, 0.54);
    }

    .message {
        line-height: 2em;
        color: rgba(0, 0, 0, 0.54);
    }

    .link {
        padding: 12px;
        text-align: center;
    }

    .a {
        margin:auto;
        max-width: 300px;
        display: block;
        background: #8427c5;
        color: white;
        padding: 12px;
        border-radius: 4px;
        text-align: center;
        color: white;
        text-decoration: none;
    }
    
    .company {
        padding: .4em;
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.54);
    }

    .logo {
        height: 42px;
        padding-top: 8px;
    }

    .header {
        height: 64px;
        line-height: 32px;
        background-color:white;
        color: rgba(0, 0, 0, 0.54);
        display: flex;
        box-sizing: border-box;
        padding: 0 16px;
        width: 100%;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
    }
    </style>
</head>


</style>
<body>
    <div class="body">
        <div class="header">
            <a class="company" href="{{url}}">
                <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 682.66669 682.66669">
                    <g>
                        <path d="m291.33 112.74 249.61-0.70711-42.78 423.56-175.36 44.194z" fill="#8427c5" fill-rule="evenodd" stroke="#000" stroke-width="1px" />
                    </g>
                    <g>
                        <path d="m326.63 600.62-179.21-51.043-41.604-460.08h451.62l-41.41 459.93-183.9 51.676zm154.6-80.394 35.361-393.73h-184.96l-0.0318 434.98z" fill="#4722a3" />
                    </g>
                    <g stroke-width=".44733">
                        <path d="m331.59 404.77 62.804-192.11-8.5478-0.56555-9.0793-0.54217v-41.386h105.23v41.386l-12.745 0.54217h-12.213l-2.1349 6.6642-29.737 92.056-7.7509 23.946-27.633 85.446-6.4626 20.444 11.205 0.51043 11.737 0.54217v41.837l-74.667 0.59133z" fill="#fff" />
                        <path d="m331.6 404.77-62.804-192.11 8.5478-0.56555 9.0793-0.54217v-41.386h-105.23v41.386l12.745 0.54217h12.213l2.1349 6.6642 29.737 92.056 7.7509 23.946 27.633 85.446 6.4626 20.444-11.205 0.51043-11.737 0.54217v41.837l74.667 0.59133z" fill="#dadada" />
                    </g>
                </svg>
            </a>
            <a class="company" href="{{url}}">Vabulu</a>
        </div> 
        <div class="background">
            <div class="container">
                <div class="title">{{ 'ResetPasswordTemplate.Hello' | translate }} {{ name }}</div>
                <div class="bold">{{ 'ResetPasswordTemplate.MessageBold' | translate }}</div>
                <div class="message">{{ 'ResetPasswordTemplate.Message' | translate }}</div>
                <br/>
                <div class="link">
                    <a class="a" href="{{callbackUrl}}">{{ 'ResetPasswordTemplate.Link' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
