.outlet {
    margin-top: -200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

header {
    min-height: 200px;
    max-height: 200px;
    background: url(/assets/img/backgrounds/header.png) no-repeat center top
        fixed #361e90;
    background-size: 100% 100%;
}

:host {
    background-color: #eeeeee;
    height: calc(100vh - 65px);
    width: 100%;
    display: block;
    overflow: auto;
    position: relative;
}

.menu {
    padding: 2em 1em;
    color: rgba(0, 0, 0, 0.54);
}

.menu-title {
    margin: 2em 1em 1em 1em;
    display: block;
    font-weight: bolder;
    font-size: 0.9em;
}

.menu-entry {
    width: 100%;
    text-align: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.menu-entry-icon {
    margin-right: 0.5em;
}

.menu-divider {
    margin-top: 1em;
    border: none;
    background-color: rgba(0, 0, 0, 0.12);
    height: 1px;
}
.title {
    font-family: roboto;
}

.title-wrapper {
    padding: 3em 2em 0em 2em;
}

.title-container {
    color: white;
    min-height: 60px;
    max-height: 60px;
    margin-bottom: 1em;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.title-container > mat-icon {
    margin-right: 4px;
    height: 24px;
    width: 24px;
    font-size: 24px;
    vertical-align: sub;
}

.mat-menu-items > button {
    padding-right: 3em;
}

.side-nav {
    min-width: 300px;
    max-width: 300px;
    background: transparent;
}

.content {
    padding: 36px 24px 24px 0;
    flex: 1 1 auto;
    max-width: calc(100vw - 324px);
}

.spacer {
    height: 36.25px;
}
@media (max-width: 1200px) {
    .side-nav {
        max-width: 58px;
        min-width: 58px;
    }

    .content {
        max-width: calc(100vw - 82px);
    }

    .title-wrapper {
        height: 160px;
        padding: 3em 0em 0em 1.5em;
    }

    .menu {
        padding: 0 !important;
    }

    .title-container > .title {
        display: none;
    }

    .menu-title {
        display: none;
    }

    .menu-entry {
        padding-left: 0 !important;
        padding-right: 0 !important;
        max-width: 58px;
        min-width: 58px;
        text-align: center;

        text-align: center;
        border-radius: 10px;
    }

    .menu-entry-icon {
        margin-right: 0;
    }

    .menu-entry span {
        display: none;
    }
}
